html, body{
  height: 100%;
  font-family: 'Staatliches', cursive;
}
body {
	background-image: url(./placeholder.jpg) ;
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	background-color: #999;
}
.follow {
  font-size: 120px;
  color: white;
  margin-left: 40px;
  width: 75%;
}
@media screen and (max-width: 600px) , screen and (max-height: 600px) {
  .follow {
    font-size: 40px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 600px) , screen and (max-height: 200px) {
  .follow {
    font-size: 70px;
    margin-left: 20px;
  }
}
.App-logo {
  height: 100vh;
  width: 100%;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.background {
  background-size: cover;
  background-position: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
